<?php
/*
 * Database credentials.
 */
define('DB_SERVER', 'localhost');
define('DB_USERNAME', 'filmlist');
define('DB_PASSWORD', '');
define('DB_NAME', 'filmlist');
 
/* Attempt to connect to MySQL database */
$db = mysqli_connect(DB_SERVER, DB_USERNAME, DB_PASSWORD, DB_NAME);
 
// Check connection
if($db === false){
    die("ERROR: Could not connect. " . mysqli_connect_error());
}
?>
